body{
    margin: 0 auto;
    width: 90%;
}
em{
    color: red;
    font-weight: bold;
}
.photo-list{
	display : flex;



}
.photo-list li{
	list-style-type: none;
	width: 100px;
	margin: 1em;
	padding: 0.5em;
}



/* gestion survol li */

.survol  {
	list-style-type: none;
	width: 100px;
	margin: 1em;
	padding: 0.5em;
	background-color: silver;
	opacity: 1;
   	transition: background-color .25s ease-in-out;
}

/* class selected li */

.selected {
	list-style-type: none;
	width: 100px;
	margin: 1em;
	padding: 0.5em;
	background-color: forestgreen;
	opacity: 1;
   	transition: background-color .25s ease-in-out;
}


/*Instructions
Les photos s'affichent (display: flex) sur une largeur max de 100 pixels, sans les puces, avec une marge de 1em et un padding de 0.5em.
Au survol d'un élément de la liste photo-list, la couleur de fond devient grise (silver).
Quand un élément de la liste a la classe selected, la couleur de fond devient verte (forestgreeen).
Le changement de couleur de fond d'un élément de la liste photo-list doit être "progressif" (fade-in, fade-out).
Quand on clique sur un élément de la liste photo-list, l'élément en question se voit affecter la class selected et
le message avec le nombre de photos sélectionnées se met à jour. Un clic (sur un élément selected) INVERSE l'opération.*/